
li .category-item
    font-size 30px
    text-decoration none
    padding 10px 15px
    display block
    cursor pointer
    transition all .3s ease-in-out

    &:hover, &:focus
        text-decoration none
        background-color #D5DBD8

li.active .category-item
    color black

    &:hover, &:focus
        color #2B2828

li:not(.active) .category-item
    color #5be0de

    &:hover, &:focus
        color #2B2828